# @emilasheras

### windows thumbnail cache
Thumbs.db

### composer vendor dir
/vendor

### composer itself is not needed
composer.phar

### Environment data
.env

### Devilbox Symlink htdocs to /web RootDir
htdocs

### Runtime data (cache, logs, etc.)
runtime/*

### Application assets
web/assets/*

### gitkeep
!.gitkeep